.product-filter {
    display: flex;
}

.product-filter h1 {
    flex-grow: 1;
    margin: 0;
}

.sort {
    display: flex;
}

.collection-sort {
    display: flex;
    flex-direction: column;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    /* flex: 1 16%; */
    /* So that the total flex item width if 20% and so 5 items per row */
    padding: 2%;
    /* margin: 1%; */
    flex-grow: 1;
    flex-basis: 16%;

    display: flex;
    flex-direction: column;
}

.product-card img {
    max-width: 100%;
}

.product-picture {
    align-self: center;
}

.product-info {
    margin-top: auto;
    text-align: center;
}

/* Reducing number of products per row to 4 for screensize < 920px */
@media (max-width: 920px) {
    .product-card {
        flex: 1 21%;
    }
}

/* Reducing number of products per row to 2 for screensize < 520px */
@media (max-width: 480px) {
    .product-card {
        flex: 1 46%;
    }
}

@media (max-width: 480px) {
    .product-filter {
        flex-direction: column;
    }
}